{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.overlay {
    background-image: url(/static/images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 1600px;
    height: 800px;
    border-radius: 4px;
    margin-right: 100px;
}

.con {
  margin-top: 300px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
}

.p{
    text-align: center;
    color : white;
}
</style>
<!-- animation css -->
<link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/dattaable-pro/plugins/animation/css/animate.min.css">
<!-- Specific CSS goes HERE -->
<!-- modal-window-effects css -->
<link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/dattaable-pro/plugins/modal-window-effects/css/md-modal.css">
<!-- vendor css -->
<link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/dattaable-pro/css/style.css">
{% endblock stylesheets %}

{% block content %}



<div class = "overlay">
  <div class = "con text-center">
    <br><br><h1 class = "p">Welcome</h1><br>
    <a><button data-toggle="modal" data-target="#exampleModalLive_login" class="btn btn-primary" >Login</button></a>
  </div>
</div>

<!--MODAL START (CREATE TICKET)-->
<div id="exampleModalLive_login" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="card">
        <form role="form" method="post" action="" style="background-color: purple;">{% csrf_token %} 
          <div class="card-header">
            <h5 class="title">Login</h5>
          </div>

          <div class="card-body">
              <div class="row">
                <div class="col-md-12 px-md-2">
                  <div class="form-group">
                    <label>Username</label>
                    {{ form.username }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 px-md-2">
                  <div class="form-group">
                    <label>Password</label>
                    {{ form.password }}
                  </div>
                </div>
              </div>
          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="login" class="btn btn-fill btn-primary" style="float: right;">Login</button>
            &nbsp; &nbsp;
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--MODAL END (CREATE TICKET)-->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
