{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header ">
        <div class="row">
          <div class="col-sm-6 text-left">
            <h5 class="card-category">Operations on Tickets</h5>
            <h2 class="card-title" id = "title"></h2>
            <h3 class = "card-title" id = "info"></h3>
          </div>
          

          <div class="col-sm-12">
            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
              <label class="btn btn-sm btn-primary btn-simple active" id="0">
                <input type="radio" name="options" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Cleaned</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-single-02"></i>
                </span>
              </label>
              <label class="btn btn-sm btn-primary btn-simple" id="1">
                <input type="radio" class="d-none d-sm-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Rejected</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-gift-2"></i>
                </span>
              </label>
              <label class="btn btn-sm btn-primary btn-simple" id="2">
                <input type="radio" class="d-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Total</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-tap-02"></i>
                </span>
              </label>
            </div>
            <form method = 'POST' action = '{% url "setDates" %}'>{% csrf_token %}

              <label for = "daterange">Dates:</label>
              <input type="text" name="daterange" style = "background-color: transparent;color: beige; border-color: rgb(232, 60, 255);"/>
              <script>
                $('input[name="daterange"]').daterangepicker({}, function(start, end, label){
                  $.ajax({
                    type:'POST',
                    url:'{% url "setDates" %}',
                    data:{
                      "start" : start.format('YYYY-MM-DD'),
                      "end" : end.format('YYYY-MM-DD'),
                    },
                    success:function(){},
                  });
                  console.log("start: " + start.format('YYYY-MM-DD')+ " end : " + end.format('YYYY-MM-DD'))
                });
              </script>

              <label for = "dateOption" >Mod :</label>
              <select  name = "dateOption" value = "0" style = "background-color: transparent;color: beige; border-color: rgb(232, 60, 255);">
                <option value = "1">Day</option>
                <option value = "2">Month</option>
                <option value = "3">Year</option>
              </select>


              <label for = "userID" >User : </label>
              <select  name = "userID" value = "Select User" style = "background-color: transparent;color: beige; border-color: rgb(232, 60, 255);">
                {% for user in users %}
        
                  <option value = "{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                
                {% endfor %}
              </select>


            <input class = "btn btn-primary" type = "submit" value = "Filter">

          </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartBig1"></canvas>
        </div>
      </div>
    </div>
  </div>


  
  
</div>






{% endblock content %}




{% block javascripts %}

<script>


function showFilter(){
  if(document.getElementById("filter").style.display == "none"){
    document.getElementById("filter").style.display = "block";
  }
  else{
    document.getElementById("filter").style.display = "none";
  }
}
//necessary css variable
//#region options
gradientChartOptionsConfigurationWithTooltipPurple = {
      maintainAspectRatio: false,
      legend: {
        display: true
      },
      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 20,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };
  //#endregion

    //#region Daily Tickets
    $.ajax({
        type : 'GET',
        url : "{% url 'monthChart' %}",
        dataType: 'json' ,
        success:function(data){
            
            if(data.time == 0){
              document.getElementById("title").innerHTML = " Performance Per Year";
            }
            else if(data.time == 1){
              document.getElementById("title").innerHTML = "Performance Per Month";
            }
            else if(data.time == 2){
              document.getElementById("title").innerHTML = "Performance Per Day";
            }
            
            document.getElementById("info").innerHTML = "Showing from : " + data.start + " To : " + data.end;

            var xValues = [];
            var yValues = [];
            var xStartValues = [];
            var xEndValues = [];
            var userX = [];
            var userY = []
            let i = 0;
            if(data.option != 1){
              Object.entries(data.dict).forEach(([key, value]) => {
                  xValues[i] = key;
                  yValues[i] = value;
                  i += 1;
              });
              i = 0;
              Object.entries(data.userDict).forEach(([key, value]) => {
                  userX[i] = key;
                  userY[i] = value;
                  i += 1;
              });
            }
            else{
              i = 0;
              Object.entries(data.dayStart).forEach(([key, value]) =>{

                xStartValues[i] = key;
                yValues[i] = value;
                i+=1
              });
              Object.entries(data.dayEnd).forEach(([key,value]) => {

                xStartValues.push(key);
                yValues.push(value);
              });
              i = 0;
              Object.entries(data.userStart).forEach(([key, value]) =>{

                userX[i] = key;
                userY[i] = value;
                i+=1
              });
              Object.entries(data.userEnd).forEach(([key,value]) => {

                userX.push(key);
                userY.push(value);
            });
              console.log(userY);
              xValues = xStartValues;
            }


            //#endregion


            // rendering how many tickets got rejected or cleaned
            //#region Line chart
            var xValuesCount = [];
            var yValuesCountCleaned = [];
            var yValuesCountRejected = [];
            var yValuesCountTotal = [];

            var yValClean = [];
            var yValRejected = [];
            var yValTotal = [];
            var xStartNew = [];
            var xEndNew = [];

            var j = 0;
            if(data.option != 1){
              Object.entries(data.dictCleaned).forEach(([key, value]) => {
                  xValuesCount[j] = key;
                  yValuesCountCleaned[j] = value;
                  j += 1;
              });

              j = 0;
              Object.entries(data.dictRejected).forEach(([key, value]) => {
                  yValuesCountRejected[j] = value;
                  j += 1;
              });
              
              for (j = 0; j < 12; j++){
                yValuesCountTotal[j] = 0;
              }

              for (j = 0; j < 12; j++){
                yValuesCountTotal[j] += yValuesCountCleaned[j] + yValuesCountRejected[j];
              }
              yValClean = yValuesCountCleaned;
              yValRejected = yValuesCountRejected
            }
            else{
              i = 0;
              Object.entries(data.dayStartCleaned).forEach(([key, value]) =>{

                xStartNew[i] = key;
                yValClean[i] = value;
                i+=1
              });
              Object.entries(data.dayEndCleaned).forEach(([key,value]) => {

                xStartNew.push(key);
                yValClean.push(value);
              });

              i = 0;
              Object.entries(data.dayStartRejected).forEach(([key, value]) =>{
                yValRejected[i] = value;
                i+=1
              });
              Object.entries(data.dayEndRejected).forEach(([key,value]) => {
                yValRejected.push(value);
              });


              xValuesCount = xStartNew;

              for (j = 0; j < xValuesCount.length ; j++){
                yValuesCountTotal[j] = 0;
              }

              for (j = 0; j < xValuesCount.length; j++){
                yValuesCountTotal[j] += yValClean[j] + yValRejected[j];
              }

            }

            var ctx = document.getElementById("chartBig1").getContext('2d');
            var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

            gradientStroke.addColorStop(1, 'rgba(72,72,176,0.1)');
            gradientStroke.addColorStop(0.4, 'rgba(72,72,176,0.0)');
            gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); //purple colors

            var config = {
              type: 'line',
              data: {
                labels: xValuesCount,
                datasets: [{
                  label : "Performance",
                  fill: true,
                  backgroundColor: gradientStroke,
                  borderColor: '#d346b1',
                  borderWidth: 2,
                  borderDash: [],
                  borderDashOffset: 0.0,
                  pointBackgroundColor: '#d346b1',
                  pointBorderColor: 'rgba(255,255,255,0)',
                  pointHoverBackgroundColor: '#d346b1',
                  pointBorderWidth: 20,
                  pointHoverRadius: 4,
                  pointHoverBorderWidth: 15,
                  pointRadius: 4,
                  data: yValClean,
                },
              
                {
                  label : "Number of Arrived Tickets",
                  fill: true,
                  backgroundColor: gradientStroke,
                  borderColor: '#40ed88',
                  borderWidth: 2,
                  borderDash: [],
                  borderDashOffset: 0.0,
                  pointBackgroundColor: '#40ed88',
                  pointBorderColor: 'rgba(255,255,255,0)',
                  pointHoverBackgroundColor: '#40ed88',
                  pointBorderWidth: 20,
                  pointHoverRadius: 4,
                  pointHoverBorderWidth: 15,
                  pointRadius: 4,
                  data: yValues,
              },
              {
                label : "User Performance",
                  fill: true,
                  backgroundColor: gradientStroke,
                  borderColor: '#409ced',
                  borderWidth: 2,
                  borderDash: [],
                  borderDashOffset: 0.0,
                  pointBackgroundColor: '#409ced',
                  pointBorderColor: 'rgba(255,255,255,0)',
                  pointHoverBackgroundColor: '#409ced',
                  pointBorderWidth: 20,
                  pointHoverRadius: 4,
                  pointHoverBorderWidth: 15,
                  pointRadius: 4,
                  data: userY,
              }]
              },
              options: gradientChartOptionsConfigurationWithTooltipPurple
            };
            var myChartData = new Chart(ctx, config);
            $("#0").click(function() {
              var data = myChartData.config.data;
              data.datasets[0].data = yValClean;
              data.labels = xValuesCount;
              myChartData.update();
            });
            $("#1").click(function() {
              var chart_data = yValRejected;
              var data = myChartData.config.data;
              data.datasets[0].data = chart_data;
              data.labels = xValuesCount;
              myChartData.update();
            });
            $("#2").click(function() {
              var chart_data = yValuesCountTotal;
              var data = myChartData.config.data;
              data.datasets[0].data = chart_data;
              data.labels = xValuesCount;
              myChartData.update();
            });
            //#endregion

        },

    });
    //#endregion

    </script>


{% endblock javascripts%}