{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.overlay {
    background-image: url(/static/images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 1600px;
    height: 800px;
    border-radius: 4px;
    margin-right: 100px;
}

.con {
  margin-top: 300px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
}

.p{
    text-align: center;
    color : white;
}
</style>
{% endblock stylesheets %}

{% block content %}
    <div class = "overlay">
        <div class = "con">
            <br><br><h1 class = "p">Welcome</h1><br>
            <h2 class = "p">{{request.user.first_name}} {{request.user.last_name}}</h2>
            <a  href = "{% url 'getWaitingTickets' %}"><button style = "margin-left : 595px;" class="btn btn-primary">Go to Tickets</button></a>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
