{% for t in ticket_list %}
<tr>
  <td>{{t.fullname}}</td>
  <td>{{t.email}}</td>
  <td>{{t.subject}}</td>
  <td>{{t.status_flag}}</td>
  <td>{{t.operation_flag}}</td>
  <td>{{t.date_updated}}</td>
  <td>{{t.domain}}</td>
  <td class="text-center">
  {% if t.status_flag == 2 %}
  <button class="btn btn-fill btn-primary" disabled>Change Process</button>
  {% else %}

  <!-- This button will pop up a modal to the user for inspection -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" onclick = "setID('{{t.id}}')">Change Process</button>
  <!-- At the same time, it sends the id of the ticket to make server send ticket's data to client side-->
    


  <!-- This is the script for opening the model -->
  <script script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    $('#exampleModal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)
    })
  </script>
  {% endif %}
  </td>
</tr>
{% endfor %}